@tailwind base;
@tailwind components;
@tailwind utilities;

.w-half {
    width: 46%;
}

.reviewImg {
    @media(min-width: 768px){
        background:
        linear-gradient(
            to right ,
            rgb(23 37 84 / 0.9),
            rgb(0 0 0 / 0)
        ),
        url(/img/Shake-hand.jpg);
        background-size: cover;
    }
}

.reviewImgMobile {
    @media(max-width: 767px){
        background:
        linear-gradient(to top , rgb(23 37 84 / 1), rgb(0 0 0 / 0)
        ),
        url(/img/Shake-hand.jpg);
        background-size: cover;
    }
}

.bgShadowMobile {
    @media(max-width: 767px){
        background: linear-gradient(to top , rgb(23 37 84 / 1), rgb(0 0 0 / 0)
        )
    }
}
.bgShadow {
    @media(min-width: 768px){
        background: linear-gradient(to top , rgb(23 37 84 / 0), rgb(0 0 0 / 0)
        )
    }
}

/* Section How Does It Works */
.clip-triangle {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    background-color :rgb(239 246 255);
    height: 70rem;
}
/* Section How Does It Works End */
